/**------ 1. CSS RESET ------**/

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Add accessible line-height | Improve text rendering */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/**------ 2. GLOBAL STYLES ------**/
:root {
  /* colors */
  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 12%);
  --clr-primary: hsl(230, 100%, 63%);
  --clr-secondary: hsl(162, 36%, 58%);
  --clr-secondary-light: hsl(159, 90%, 89%);
  --clr-secondary-dark: hsl(161, 22%, 41%);

  /* font families */
  --ff-primary: "Poppins", serif;

  /* font weights */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-black: 900;

  /* font sizes */
}

body {
  font-family: var(--ff-primary);
  color: var(--clr-black);
}
